@using Fittify.Client.ViewModels.Sport
@using Fittify.Common
@model Fittify.Client.ViewModels.Sport.WorkoutViewModel

@{
    ViewBag.Title = "Exercises";
}

<div>
    <h2>Exercises for @Model.Name</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                Name
            </th>
            <th>
                <!--Delete Header-->
            </th>
        </tr>
        @if (Model.MapsExerciseWorkout != null || Model.MapsExerciseWorkout?.Count > 0)
        {
            foreach (var mapExerciseWorkout in Model.MapsExerciseWorkout)
            {
                 <tr>
                     <td>@mapExerciseWorkout.Exercise.Name</td>
                     <td>
                         <form action="~/mapexerciseworkout/deletion?mapExericseWorkoutId=@mapExerciseWorkout.Id&workoutId=@mapExerciseWorkout.WorkoutId" method="post">
                             <input type="submit" value="X" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want to delete?')"/>
                         </form>
                     </td>
                 </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="42">
                    There are no associated exercises yet. Add them using the below form.
                </td>
            </tr>
        }
    </table>
    <form class="form-group" action="~/workouts/@Model.Id/associatedexercises" method="post">
        <input type="submit" value="Add" class="btn btn-primary" />
        <div class="col-sm-4">
            <select class="form-control" name="Id" required>
                <option value="" selected >Please select exercise to add</option>
                @foreach (var e in Model.AllExercises.OrderBy(o => o.Name))
                {
                    <option value="@e.Id">@e.Name</option>
                }
            </select>
        </div>
    </form>
    <div>Or create and add a completely new exercise:</div>
    <form class="form-group" action="~/exercises?workoutId=@Model.Id" method="post">
        <div class="col-sm-4 "><input type="text" name="name" class="form-control" pattern=".{3,}" required title="Minimum 3 characters long description"/></div>
        <div class="col-sm-4">
            <select class="form-control" name="exerciseType" required>
                <option value="" selected >Please select type of exercise</option>
                @foreach (var e in Enum.GetValues(typeof(ExerciseTypeEnum)))
                {
                    <option value="@e.ToString()">@e.ToString()</option>
                }
            </select>
        </div>
        <input type="submit" value="Add" class="btn btn-primary" />
    </form>
</div>