@model WorkoutSessionViewModel

@{
    ViewBag.Title = "Practice";
}
<h1>Hello from Practice/Index.cshtml !</h1>
    <div>
        <h3>@Model.CurrentWorkoutSessionInProgress.Name</h3>
        @Model.CurrentWorkoutSessionInProgress.Id
        <table>
            <thead>
                <tr>
                    <th>
                        Exercise Name
                    </th>
                    <th>
                        Set 1
                    </th>
                    <th>
                        Set 2
                    </th>
                    <th>
                        Set 3
                    </th>
                    <th>
                        Set 4
                    </th>
                </tr>
            </thead>
            @foreach (var exercise in Model.PreviousWorkoutSession.Exercises)
            {
                <tr>
                    <td>@exercise.Name</td>

                    @if (exercise.WeightLiftingSets != null)
                    {
                        foreach (var weightLiftSet in exercise.WeightLiftingSets)
                        {

                            <td>
                                @if (weightLiftSet != null)
                                {
                                    <div>@weightLiftSet.RepetitionsFull x @weightLiftSet.WeightFull;</div>
                                }
                            </td>
                        }
                    }
                </tr>
            }
        </table>
    </div>