@using Fittify.DataModels.Models.Sport
@model IEnumerable<Fittify.DataModels.Models.Sport.Exercise>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineAdjustableType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineAdjustableSetting1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineAdjustableType2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineAdjustableSetting2)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineAdjustableType1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineAdjustableSetting1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineAdjustableType2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineAdjustableSetting2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
@{ var selectList = new SelectList(@Model, "Id", "Name");}
<select  asp-for="Name" asp-items="@selectList">    
</select>
